.top-banner {
  margin-top: 50px;
  width: 100%;
  display: block;
}

.banner {
  width: 100%;
}

.about,
.team {
  margin: 40px auto;
}

.about .line {
  margin-top: 40px;
}

.about h3,
.team h3 {
  margin-bottom: 40px;
}

.about h3 span,
.team h3 span {
  margin: 0 20px;
}

.text-cornflowerblue {
  color: #6383a8;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.team ul {
  list-style-type: none;
  padding: 0;
}

.team ul li {
  margin: 16px auto;
}

.team ul .text-muted {
  color: #bebebe;
}