.top-banner {
  margin-top: 50px;
  width: 100%;
  display: block;
}

.navbar-fixed-top img {
  margin-top: 5px;
}

.navbar-fixed-top .navbar-nav>li {
  margin-right: 20px;
  padding-left: 20px;
  border-left: 1px solid #9d9d9d;
}

.navbar-fixed-top .navbar-nav>li:first-child {
  border-left: none;
  padding-left: 0;
}
`
.navbar-fixed-top .navbar-nav>li:last-child {
  margin-right: 0;
}

.banner {
  width: 100%;
}

.about,
.team,
.contact {
  margin: 40px auto;
}

.about .line, .contact {
  margin-top: 40px;
}

.about h3,
.team h3,
.contact h3 {
  margin-bottom: 40px;
}

.about h3 span,
.team h3 span,
.contact h3 span {
  margin: 0 20px;
}

.text-cornflowerblue {
  color: #6383a8;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.team ul {
  list-style-type: none;
  padding: 0;
}

.team ul li {
  margin: 16px auto;
}

.team ul .text-muted {
  color: #bebebe;
}